body {
  margin-bottom: 1000px;
}

.link-text {
  color: rgb(0, 113, 133);
}

.link-text:hover {
  color: rgb(189, 97, 21);
}

.title-text {
  font-weight: bold;
  font-size: 24px;
}

.price-text {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.cart-button {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 15px;
  cursor: pointer;

  margin-right: 10px;
}

.cart-button:hover {
  background-color:rgba(233, 198, 23, 1);
}

.cart-button:active {
  background-color:rgba(233, 198, 23, 0.6);
  color:rgba(0, 0, 0, 0.6);
}

.purchase-button {
  background-color: rgb(255, 164, 28);
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 15px;
  cursor: pointer;

  margin-right: 10px;
}

.purchase-button:hover {
  background-color: rgb(230, 164, 28);
}

.purchase-button:active {
  background-color:rgba(230, 164, 28, 0.6);
  color:rgba(0, 0, 0, 0.6);
}

.stretch-button {
  background-color: green;
  color: white;
  border: none;

  margin-top: 10px;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;

  transition: padding 0.15s;

}

.stretch-button:hover {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

.expand-button {
  background-color: green;
  color: white;
  border: none;

  margin-top: 10px;
  margin-left: 6px;
  margin-right: 6px;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;

  transition: margin 0.15s, padding 0.15s;
}

.expand-button:hover {
  margin-left: 2px;
  margin-right: 2px;

  padding-left: 14px;
  padding-right: 14px;
}

.stock {
  font-family: Arial;
  font-size: 28px;

  margin-top: 4px;
  margin-bottom: 4px;
}

.currency {
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.today-delta-stock {
  font-family: Arial;
  color: green;
  font-size: 14px;

  margin-top: 0px;
  margin-bottom: 4px;
}

.after-stock {
  font-family: Arial;
  color: rgb(96, 96, 96);
  font-size: 12px;

  margin-top: 0px;
  margin-bottom: 0px;
}

.after-delta-stock {
  color: red;
}

.rounded-img {
  width: 200px;
  border-radius: 15px;
}

.centered-img {
  width: 100px;
  height: 100px;
  object-fit: cover;

  margin-left: 15px;
}

.circle-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius:50px;

  margin-left: 15px;
}

.x-box {
  vertical-align: middle;
  border-radius: 10px;
  height: 50px;
  width: 410px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);

  margin-top: 15px;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.x-circle-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  display: inline-block;

  vertical-align: middle;
}

.x-text {
  font-style: Arial;
  border: none;
  display: inline-block;
  vertical-align: middle;

  padding-right: 100px;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;

  transition: box-shadow 0.15s;
}

.tweet-button:hover {
  /*shadow property. x position, y position, blur value, color */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.google-box {
  text-align: center;
}

.google-search-bar {
  width: 450px;
  height: 30px;
  border-radius: 15px;
  border: none;

  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);

  margin-bottom: 30px;

  padding-left: 15px;
}

.google-search {
  background-color: rgb(228, 228, 228);
  border: none;
  height: 40px;
  width: 120px;
  font-weight: bold;
  cursor: pointer;

  display: inline-block;

  margin-right: 10px;
}

.google-lucky {
  background-color: rgb(228, 228, 228);
  border: none;
  height: 40px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
  

  margin-right: 10px;
}


.uber-text {
  font-family: Arial;
  font-size: 30px;

  margin-bottom: 20px;
}

.uber-location {
  background-color: rgb(231, 229, 229);
  border: none;
  height: 30px;
  width: 350px;
  font-size: 12px;

  display: block;

  margin-bottom: 5px;

  padding-left: 15px;
}

.uber-destination {
  background-color: rgb(231, 229, 229);
  border: none;
  height: 30px;
  width: 350px;
  font-size: 12px;

  display: block;

  margin-bottom: 20px;

  padding-left: 15px;
}

.uber-request {
  font: Arial;
  font-size: 12px;
  background-color: black;
  color: white;
  height: 40px;
  width: 110px;
  border: none;
  cursor: pointer;

  margin-right: 10px;

  transition: background-color 0.15s, color 0.15s;
}

.uber-request:active {
  background-color: rgb(231, 229, 229);
  color: black;
}

.uber-schedule {
  font: Arial;
  font-size: 12px;
  background-color: rgb(231, 229, 229);
  height: 40px;
  width: 140px;
  border: none;
  cursor: pointer;

  margin-right: 10px;

  transition: background-color 0.15s, color 0.15s;
}

.uber-schedule:active {
  background-color: black;
  color: white;
}

.friend-box {
  height: 230px;
  width: 140px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.friend-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.friend-name {
  font-weight: bold;

  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.friend-mutual {
  color: gray;
  font-size: 13px;

  /*top right bottom left*/
  margin: 4px 0px 0px 10px;
}

.friend-add {
  background-color: rgb(96, 96, 253);
  color: white;
  font-size: 12px;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  margin: 5px 0px 0px 10px;

  transition: background-color 0.15s, opacity 0.15s;
}

.friend-add:hover {
  background-color: rgb(66, 66, 253);
}

.friend-add:active {
  opacity: 0.8;
}

.ex12e-outer-flexbox {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(173, 173, 173);
  border-radius: 5px;

  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 7px 10px 7px 10px;

}

.ex12e-inner-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ex12e-left-section {
  font-family: Arial;
  font-size: 18px;
}

.ex12e-notification-bubble {
  font-family: Arial;
  font-size: 18px;
  background-color: rgb(0, 124, 207);
  color: white;
  border: none;
  border-radius: 12px;

  padding: 3px 10px 3px 10px;

}

.ex12f-flexbox {
  background-color: rgb(100, 71, 151);
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0px 10px 0px 20px;
}

.ex12f-home {
  font-family: Arial;
  font-weight: bold;
  background-color: rgb(100, 72, 151);
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;

  transition: opacity 0.15s;
}

.ex12f-home:hover {
  opacity: 0.8;
}

.ex12f-search {
  height: 30px;
  flex: 1;
  max-width: 500px;
  border-radius: 15px;
  border: none;

  padding-left: 15px;
}

.ex12f-download {
  font-size: 18px;
  color: white;
  background-color: rgb(100, 72, 151);
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;

  padding: 8px 15px 8px 15px;
}

.ex12f-download:hover {
  background-color: white;
  color: rgb(100, 72, 151);
}

.ex12f-download:active {
  opacity: 0.8;
}

.ex13g-flexbox {
  display: flex;
  flex-direction: row;
  width: 420px;
  margin-top: 30px;
  margin-left: 20px;
}

.ex13g-profile-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.ex13g-right-section {
  font-family: Arial;
  flex: 1;
  padding-left: 15px;
}

.ex13g-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.ex13g-name {
  font-weight: bold;
  margin-right: 5px;
}

.ex13g-username {
  color: rgb(111, 111, 111)
}

.ex13g-tweet {
  margin-bottom: 15px;
}

.ex13g-link-box {
  display: flex;
  flex-direction: row;
  min-height: 100px;

  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
}

.ex13g-link-img {
  background-color: rgb(221, 221, 221);
  width: 100px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: -1px 0px -1px -1px;
  flex-shrink: 0;
}

.ex13g-link-right-section {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 20px;
  justify-content: center;
}

.ex13g-link-url {
  margin: 15px 0 0 0;
}

.ex13g-link-text {
  margin: 10px 0 15px 0;
}

.sale-container {
  display: inline-block;
  position: relative;
  width: 300px;
}

.sale-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.sale-text {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 8px 8px 8px 8px;
}

.sale-footer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-cart-button {
  padding: 10px;
  font-family: Arial;
}